/*let main color*/
:root {
    --main-color: rgb(181, 159, 91);
}

/*reset css*/

html, body, div, span, h1, h2, h3, h4, h5, h6, blockquote, a, address, img, ol, ul, li, form, label, table, article, aside, footer, header, menu, nav, section, p, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "OpenSans";
  }
  
  body {
    text-decoration: none;
    font-size: 14px;
  }
  
  ol, ul, li {
    padding-inline-start: 0;
    list-style: none    
  }
  
  a {
    text-decoration: none;
  }

/*hidden text description*/  

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

/*connect fonts*/
@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff) format("woff");
    font-weight: 400; /*можно удалить*/
    font-style: normal;
    font-display: swap;
  } 
  
@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff) format("woff");
    font-weight: 700; /*можно удалить*/
    font-style: normal;
    font-display: swap;
  }

/*HEADER*/
.header {
  position: relative;
  width: 100%;
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  margin-bottom: 40px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  /* display: block;
  left: 0;
  bottom: 0; */
}

.header__container {
  box-sizing: border-box;
  width: 100%;
  /* width: 360px; */
  padding: 2rem 1rem 13rem;
  margin-left: auto;
  margin-right: auto;
}

.header__content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.9rem;
  align-items: center;  
}

.header__logo-img {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 16.8rem;  
}

.header__menu {
  display: none;    
}

.header__burger {
  width: 1em;
  height: 0.8em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 1;
  margin-left: auto;
  margin-bottom: 11rem;
}

.header__burger:before, .header__burger:after {
  content:"";
  width: 100%;
  height: 20%;

  background-color: white;  

  position: absolute;
  left: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
} 

.header__burger-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;   
}

.header__title {
  position: relative;
  color: white;
  z-index: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.2px;
}

/* TRANDS */
.trands__wrap {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2.75rem;
}

.trands__title {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;  
}

.trands__title::after {
  content: '';
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 4rem;
  height: 3px;
  background: var(--main-color);
}

.trandstrands__content {
  box-sizing: border-box;
  width: 100%;
}
  
.trands__article {
  min-height: 231px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3px;
}

.trands__article::before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.trands__post-img1 {
  background-image: url("../images/trend1.jpg");
}

.trands__post-img2 {
  background-image: url("../images/trend2.jpg");
}

.trands__post-img3 {
  background-image: url("../images/trend3.jpg");
}

.trands__post-img4 {
  background-image: url("../images/trend4.jpg");
}

.trands__article-wrap {
  z-index: 2;
  border: 3px solid var(--main-color);
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 22px; /*change*/
  padding-top: 28px;    /*change*/
  padding-right: 13px;   /*change*/
  padding-left: 20px;   /*change*/
}
      
.trands__tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.trands__tag-item {
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 1rem;
  color: var(--main-color);
}

.trands__tag-link {
  position: relative;
  color: inherit;
  z-index: 2;
}

.trands__tag-link:hover {
  text-decoration: underline;
}

.trands__tag-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.trands__tag-title:hover {
  color: var(--main-color);
}
  
/* MAIN */
.page-wrap {
    box-sizing: border-box;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;    
}

.article {
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 4rem;
}

.article-img-link {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5rem;    
}

.article-teg {
  display: flex;
  margin-bottom: 0.5rem;
}

.article-teg-item {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
  margin-right: 1rem;
}

.article-teg-item:nth-last-child(1) {
  margin-right: 0px;
}

.article-teg-link {
  color: inherit;  
}

.article-teg-link:hover {
  text-decoration: underline;
}

.article-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.14; 
}

.article-title-link {
  color: inherit;
}

.article-title-link:hover {
  color: var(--main-color);
}

.news-text-meta {
    margin-bottom: 1rem;    
}

.news-text-meta {
  /* display: inline-block; */
  /* margin-bottom: 47px; */
}

.article-date {
  font-size: 12px;
}

.article-author {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.article-content-text {
    font-size: 14px;
}
/* ASSIDE-POST */
