/*HEADER*/
.header {
  background-image: url("../images/banner-bg.jpg");
  margin-bottom: 60px;
  background-position: center center;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 15px 105px;
}

.header__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 105px;
}

.header__logo-img {
  width: 67%;
}

.header__menu {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; 
    padding-top: 12px;
}

.menu-list {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff; 
}

.menu-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-link {
  font-family: inherit;
  color: inherit;
  position: relative;
  z-index: 1;
}

.menu-link:hover {
  text-decoration: underline;
}

.header__burger {
  display: none;
}

.header__title {
  font-size: 45px;
  padding-right: 219px;
  padding-left: 219px;
  line-height: 1.6;
  letter-spacing: 0px;
}

/* TRANDS */
.trands__title {
  font-size: 20px;
  margin-bottom: 26px;
}

.trands__content {
  gap: 3px;
}

.trands__article {
  width: calc(25% - 3px);
  min-height: 320px;
  margin-bottom: 16px;
}

.trands__article:nth-last-child(even) {
  margin-right: 0px;
}

.trands__article-wrap {
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 30px;
}

.trands__tag-title {
  font-size: 20px;
}

/* MAIN */
