/*let main color*/
:root {
    --main-color: rgb(181, 159, 91);
}

/*reset css*/

html, body, div, span, h1, h2, h3, h4, h5, h6, blockquote, a, address, img, ol, ul, li, form, label, table, article, aside, footer, header, menu, nav, section, p, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "OpenSans";
  }
  
  body {
    text-decoration: none;
    font-size: 14px;
  }
  
  ol, ul, li {
    padding-inline-start: 0;
    list-style: none    
  }
  
  a {
    text-decoration: none;
  }

/*hidden text description*/  

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

/*connect fonts*/
@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff) format("woff");
    font-weight: 400; /*можно удалить*/
    font-style: normal;
    font-display: swap;
  } 
  
  @font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff) format("woff");
    font-weight: 700; /*можно удалить*/
    font-style: normal;
    font-display: swap;
  }

/*HEADER*/
.header {
  position: relative;
  width: 100%;
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  margin-bottom: 40px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  /* display: block;
  left: 0;
  bottom: 0; */
}

.header__container {
  box-sizing: border-box;
  width: 100%;
  /* width: 360px; */
  padding: 2rem 1rem 13rem;
  margin-left: auto;
  margin-right: auto;
}

.header__content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.9rem;
  align-items: center;  
}

.header__logo-img {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 16.8rem;  
}

.header__menu {
  display: none;    
}

.header__burger {
  width: 1em;
  height: 0.8em;  
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  z-index: 1;
  margin-left: auto;
  margin-bottom: 11rem;
}

.header__burger:before, .header__burger:after {
  content:"";
  width: 100%;
  height: 20%;

  background-color: white;  

  position: absolute;
  left: 0;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
} 

.header__burger-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;  

  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;   
}

.header__title {
  position: relative;
  color: white;
  z-index: 2;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.2px;
}

/* TRANDS */
  
  .trands__wrap {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2.75rem;
  }

  .trands__title {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;  
  }
  
  .trands__title::after {
    content: '';
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    width: 4rem;
    height: 3px;
    background: var(--main-color);
  }
  
  .trandstrands__content {
    box-sizing: border-box;
    width: 100%;
  }
  
  
  .trands__article {
    box-sizing: border-box;
    width: calc((100% - 12px)/4);
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .trands__article {
    width: 100%;
    min-height: 231px;    
}
  
  .article-wrap {
    z-index: 2;
    border: 3px solid #b59f5b;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 36px;
    padding-top: 39px;
    padding-right: 13px;
    padding-left: 33px;
  }

  /* .article-wrap {
    padding-top: 28px;
    margin-left: 14px;
    margin-right: 14px;
    padding-left: 20px;
    padding-bottom: 22px;    
} */
  
  .trands-tag {
    display: flex;
    
  }

  /* .trands-tag {
    margin-bottom: 8px;
} */
  
  .trands-tag-item {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 14px;
    color: #b59f5b;
  }

  /* .trands-tag-item {
    margin-right: 20px;
} */
  
  .trands-tag-item:nth-last-child(1) {
    margin-right: 0px;  
  }
  
  
  .trands-tag-link {
    color: inherit;
    z-index: 2;
  }
  
  .trands-tag-link:hover {
    text-decoration: underline;
  }
  
  .trands-post:nth-child(n + 1):nth-child(-n + 3) {
    margin-right: 4px;
  }
  
  .trands-tag-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }

  /* .trands-tag-title {
    font-size: 16px;
} */
  
  .trands-tag-title:hover {
    color: #b59f5b;
  }
  
  .trands-post::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .trands__post-img1 {
    background-image: url("https://raw.githubusercontent.com/NikitaKST/noemi-diplom/main/images/trend1.jpg");
  }

  /* .trands-post-img1 {
    margin-right: 0;
    margin-bottom: 3px;
} */
  
  .trands__post-img2 {
    background-image: url("https://raw.githubusercontent.com/NikitaKST/noemi-diplom/main/images/trend2.jpg");
  }

  /* .trands-post-img2 {
    margin-right: 0;
    margin-bottom: 3px;
} */
  
  .trands__post-img3 {
    background-image: url("https://raw.githubusercontent.com/NikitaKST/noemi-diplom/main/images/trend3.jpg");
  }
/* 
  .trands-post-img3 {
    margin-right: 0;
    margin-bottom: 3px;
} */
  
  .trands__post-img4 {
    background-image: url("https://raw.githubusercontent.com/NikitaKST/noemi-diplom/main/images/trend4.jpg");
  }

  
  /* .trands-post-img4 {
    margin-top: 0;
} */

  
  /*MAIN
  .page-wrap {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    
  .main {
    box-sizing: border-box;
    width: 774px;
  }
  
  .article {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 63px;
  }
  
  .article-ing-link {
    width: 381px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;
  }
  
  .article-content {
    display: block;
  }
  
  .article-teg {
    display: flex;
    margin-bottom: 6px;
  }
  
  .article-teg-item {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px;
    color: #b59f5b;
  }
  
  .article-teg-item:nth-last-child(1) {
    margin-right: 0px;
  }
  
  .article-teg-link {
    color: inherit;
  } 
  
  .article-teg-link:hover {
    text-decoration: underline;
  }
  
  .article-title {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    line-height: 1.14;
    font-size: 20px;
  }
  .article-title-link {
    color: inherit;
  }
  
  .article-title-link:hover {
    color: #b59f5b;
  }
  
  .news-text-meta {
    display: inline-block;
    margin-bottom: 47px;
  }
  
  .article-date {
    font-size: 12px;
  }
  
  .article-author {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-left: 9px;
  }
  
  .article-content-text {
    font-size: 15px;
    line-height: 1.41;
  }
  
  .content-text {
    margin-bottom: 5px;
  }
  
  ASSIDE general
  .asside-wrap {
    box-sizing: border-box;
    width: 273px;
    display: block;

  }
  
  .aside-title {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .aside-title::after {
    content: '';
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
  
  ASSIDE post
  
  .sidebar-post {
    box-sizing: border-box;
    display: flex;
  }
  
  .sidebar-post:nth-child(n+2) {
    margin-top: 17px;
  }
  
  .sidebar-post-link {
    margin-right: 20px;
  }
  
  .sidebar-post-img {
    width: 70px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
  }
  
  .sidebar-content {
    bottom: 0;
  }
  
  .post-date {
    display: block;
    vertical-align: top;
    font-size: 12px;
    color: #000;
  
  }
  
  .post-title {
    margin-top: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }
  
  .post-title-link {
    color: inherit;
  }
  
  .post-title-link:hover {
    color: #b59f5b;
  }
  
  ASSIDE SEARCH
  
  .search-form {
    margin-top: 60px;
    margin-bottom: 58px;
  }
  
  .search-label {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;  
  }
  
  .search-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    box-sizing: border-box;
    width: 217px;
    height: 48px;
    background-color: #f4f7f6;
    padding-left: 20px;
    border: none;
    vertical-align: middle;
  }
  
  .search-input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #b59f5b;
  }
  
  .search-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    cursor: pointer;
  }
  
  .search-button:hover {
      background-color: #323232;
  }
  
  АSSIDE SEND
  
  .send-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;  
  }
  
  .send-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    box-sizing: border-box;
    background-color: #f4f7f6;
    width: 100%;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
  }
  
  .send-input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #b59f5b;
  }
  
  .send-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color:#ffffff;
    margin-bottom: 57px;
  }
  
  .send-button:hover {
      background-color: #323232;
  }
  
  ASSIDE TAGS
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 46px;
  }
  
  .tags-list-link {
    display: block;
    border: 3px solid #eeeeee;
    padding: 4px 13px;
    margin-right: 5px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: inherit;
  }
  
  .tags-list-link:hover {
    border: 3px solid #b59f5b;
  }
  
  ASSIDE THEMES
  
  .themes-list {
    font-weight: 700;
    font-size: 14px; 
  }
  
  .themes-list-item {
    padding-bottom: 23px;


    border-bottom: 1px solid #eeeeee;
    
  }
  
  
  .themes-list-link {
    color: inherit;
    text-decoration: inherit;
    margin-right: 3px;
  }
  
  .themes-list-link:hover {
    color: #b59f5b;
  }
  
  .themes-list-amount {
    font-size: 12px;

    vertical-align: super;
  }
  
  OUR PRODUCTS
  
  .products-wrap {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-bottom: 66px;
  }
  
  .products-title {
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 23px;  
  }
  
  .products-title:after {
    content: '';
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
  
  .products {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .products-cards {
    width: calc((100% - 132px)/3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;


    padding-left: 22px;
    padding-right: 22px;

  }
  
  
  .products-cards-title {
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }
  
  .product-title {
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  
  .procucts-cards-img {

  
  }
  
  .cards-img {

    position: relative;
    z-index: -1;
    height: 206px;
    width: 300px;
    background-position: center;
    background-size: cover;
  }
  
  .products-description-wrap {
    border: 3px solid #b59f5b;
    flex-grow: 1;
    margin: -38px -22px 0px;
    padding: 33px 20px 18px;
  }
  
  .product-description {
    color: inherit;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 27px;
    
  }
  
  .product-description-link {
    color: #b59f5b;
    text-decoration: inherit;
  }
  
  .product-description-link:hover {
    text-decoration: underline;
  }
  
  .product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .product-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-price {
    font-weight: 700;
    font-size: 20px;
  }
  
  .product-price-old {
    text-decoration: line-through;
    font-size: 14px;
  }
  
  .product-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    box-sizing: border-box;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 20px 30px;
    text-transform: uppercase;
  }
  
  .product-button:hover {
    background-color: #323232;
  
  }
  
  FOOTER
  
  .footer-wrap {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-container {
    background-color: #f4f7f6;
    
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
  }
  
  .footer-list-item {
    margin-right: 25px;
    
  }
  
  .footer-list-item:nth-last-child(1) {
    margin-right: 0;
  }
  
  .footer-list-link {
    display: flex;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    
    
  }
  
  .dribbble {  
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  }
  
  .pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");

  }
  
  .tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  }
  
  .footer-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .footer-copyright {
    color: #999999;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    margin-top: 74px;
    margin-bottom: 41px;
  }
  
  
  POPUP
  .popup-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  .popup {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-container {
    width: 330px;
    padding: 45px 30px 55px;
    background-color: #ffffff;
    position: relative;
  }
  
  .popup-title {
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: block;
  }
  
  .popup-title::after {
    content: '';
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 25px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
  

  
  .popup-select {
    display: flex;
    flex-direction: column;
  }
  
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    box-sizing: border-box;
    border: none;
    background-color: #f4f7f6;
    margin-bottom: 35px;
    width: 100%;
    height: 48px;
    padding-left: 20px;
    padding-right: 25px;
    background-image: url("https://raw.githubusercontent.com/NikitaKST/noemi-diplom/0848222999be49a7b36e22e4cf4d38d6cf5ae8a6/svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right 15px;
    cursor: pointer;
  }
  
  .select:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #b59f5b;
  }
  
  .select-value {
    font-size: 13px;
    background-color: #f4f7f6;
  }
  
  
  .popup-form-title {
    color: inherit;
    font-size: 13px;
    margin-bottom: 6px;
  }
  
  .popup-checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    
  }
  
  .radio-togle {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .popup-radio-text {
    display: inline-block;
    position: relative;
    padding-left: 22px;
    margin-right: 13px;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    color: #333;
  }
  
  .popup-radio-text:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url('https://raw.githubusercontent.com/NikitaKST/noemi-diplom/0848222999be49a7b36e22e4cf4d38d6cf5ae8a6/svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .radio-togle:checked + .popup-radio-text:before {
    background-image: url('https://raw.githubusercontent.com/NikitaKST/noemi-diplom/0848222999be49a7b36e22e4cf4d38d6cf5ae8a6/svg/form-circle.svg');
  }
  
  .radio-togle:focus + .popup-radio-text:before {
    outline: none;
    box-shadow: 0 0 0 1px rgba(181, 159, 91, 0.5);
  }
  
  
  .popup-recommendations-group {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 25px;
  }
  
  .popup-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    border: none;
    box-sizing: border-box;
    
    width: 100%;
    min-height: 132px;
    resize: none;
    overflow-y: auto;
    background-color: #f4f7f6;
    padding: 20px;
  }
  
  .popup-textarea:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #b59f5b;
  }
  
  
  .popup-button {
    -webkit-appearance: none;
    -moz-appearance: none;
  
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
  }
  
  .popup-button:hover {
    background-color: #323232;
  
  }
  
  .popup-button:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #b59f5b;
  
  }
  
  .popup-close {
    position: relative;
    
  }
  
  .button-close {
    width: 20px;
    height: 20px;
    background-size: auto;
    
    background-image: url(https://raw.githubusercontent.com/NikitaKST/noemi-diplom/0848222999be49a7b36e22e4cf4d38d6cf5ae8a6/svg/form-x.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    
    position: absolute;
    right: -30px;
    top: -75px;
  }



  /*desktop

@media screen and (min-width: 1200px) {
  .menu__button {
      display: none;
  }
}




tablet
@media screen and (min-width: 641px) and (max-width: 1199px) {

  HEADER
  .menu-header {
      display: none;    
    }

  .header {
      background-image: url("../images/banner-bg-tablet.jpg");
      background-color: #666666;
      margin-bottom: 44px;
  }  
  .header-title {
      width: 100%;
      max-width: 641px;
      font-size: 40px;
      line-height: 1.5;
  }

  .menu {
      margin-bottom: 86px;
  }

  .logo-img {
      width: 158px;
  }

  .header-container {
      width: 100%;
      max-width: 768px;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 43px;
      padding-bottom: 106px;
      margin-left: auto;
      margin-right: auto;    
    }    

  .menu__button {
      width: 1em;
      height: 1em;  
      border: none;
      padding: 0;
    
      background-color: transparent;
      font-size: 25px;
      position: relative;
      text-indent: -9999px;
      cursor: pointer;
      z-index: 1;
    }

  .menu__button:before, .menu__button:after {
      content:"";
      width: 100%;
      height: 20%;
    
      background-color: #ffffff;  
    
      position: absolute;
      left: 0;
    }
    
  .menu__button:before {
      top: 0;
    }
    
  .menu__button:after {
      bottom: 0;
    } 
    
  .menu__button-label {
      width: 100%;
      height: 20%;
      margin-top: -0.1em;  
    
      background-color: #ffffff;  
    
      position: absolute;
      left: 0;
      top: 50%;   
      
    }
  TRANDS
  .trands-wrap {
      margin-bottom: 50px;
  }
  .trands-title {
      font-size: 18px;
      margin-bottom: 16px;    
  }
  .trands {
      width: 100%;
      max-width: 1199px;
      min-width: 641px;
      flex-wrap: wrap;
  }
  .trands-post {
      width: calc((100% - 3px)/2);
      min-height: 246px;
  }

  .article-wrap {
      padding-bottom: 26px;
      padding-top: 30px;
  }

  .trands-tag {
      margin-bottom: 6px;
  }

  .trands-post-img1 {
      margin-right: 3px;
  }

  .trands-post-img2 {
      margin-right: 0;
  }

  .trands-post-img3 {
      margin-right: 3px;
      margin-top: 3px;
  }

  .trands-post-img4 {
      margin-top: 3px;
  }

  .trands-tag-title {
      font-size: 17px;
  }

  MAIN
  .page-wrap {
      width: 100%;
      max-width: 768px;
      padding-left: 35px;
      padding-right: 35px;
      margin-left: auto;
      margin-right: auto;
  }

  .main {
      max-width: calc(100% - (273px + 35px));
  }

  .article {
      flex-wrap: wrap;
      margin-bottom: 58px;    
  }

  .article-img-link {
      width: 100%;
      margin-right: 0;
  }

  .article-teg-item {
      margin-top: 14px;
  }

  .news-text-meta {
      margin-bottom: 28px;
  }


  ASSIDE general
  .aside-title::after {
      margin-top: 6px;
  }
  
  .sidebar-post:nth-child(n+2) {
      margin-top: 22px;
  }
  
  .search-form {
      margin-top: 60px;
  }

  .send-input {
      margin-bottom: 24px;
  }

  .tags-list {
      margin-bottom: 60px;
  }
  

  OUR PRODUCTS
  .products-wrap {
      width: 100%;
      max-width: 768px;
      padding-left: 35px;
      padding-right: 35px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;    
  }

  .products-cards {
      max-width: calc(50% - 12px);    
  }

  .products-title {
      font-size: 18px;
  }

  .cards-img {
      min-height: 230px;
      width: 100%;
      max-width: 291px;    
  }

  .product-description {
      margin-top: -40px;
  }

  .product-title {
      font-size: 17px;
  }

  FOOTER
  .footer-wrap {
      width: 100%;
      max-width: 768px;
      padding-left: 35px;
      padding-right: 35px;
      margin-left: auto;
      margin-right: auto;   
  }
  POPUP
  .button-close {
      width: 30px;
      height: 30px;
      right: -30px;
      top: -85px;
  }

  .footer-copyright {
      font-size: 12px;
      margin-top: 46px;
      margin-bottom: 34px;
  }
}



mobile

  
  MAIN
  .page-wrap {
      width: 100%;
      max-width: 640px;
      min-width: 360px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-wrap: wrap;    
  }

  .main {
      width: 100%;    
  }

  .article {
      flex-direction: column;
      margin-bottom: 54px;

  }

  .article-img-link {
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      margin-bottom: 12px;    
  }

  .article-teg {
      margin-bottom: 10px;
  }

  .article-title {
      margin-bottom: 16px;
      font-size: 16px;
  }

  .news-text-meta {
      margin-bottom: 14px;    
  }

  .article-content-text {
      font-size: 14px;
  }

  ASSIDE
  .asside-wrap {
      width: 100%;
  }

  .aside-title {
      font-size: 16px;
      margin-bottom: 26px;
  }

  .aside-title::after {
      margin-top: 10px;
  }

  .sidebar-post:nth-child(n+2) {
      margin-top: 21px;
  }

  .sidebar-post-img {
      min-height: 71.5px;
      margin-right: 19px;
  }

  .search-form {
      margin-bottom: 38px;
  }

  .search-input {
      width: calc(100% - 52px);
  }

  .send-button {
      margin-bottom: 36px;
  }

  .tags-list {
      margin-bottom: 28px;
  }

  .tags-list-link {
      margin-right: 4px;
  }

  .themes-list {
      margin-top: -4px;
  }

  OUR PRODUCTS
  .products-wrap {
      max-width: 640px;
      min-width: 360px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;    
  }

  .products-title {
      font-size: 17px;
      margin-top: 31px;
      margin-bottom: 29px;
  }

  .products-cards {
      max-width: 100%;    
  }

  .product-title {
      font-size: 16px;
  }

  .cards-img {
      min-width: 282px;
  }

  FOOTER
  .footer-wrap {
      max-width: 640px;
      min-width: 360px;
      padding-left: 15px;
      padding-right: 15px;

  }

  .footer-copyright {
      margin-top: 46px;
  }

  
  
}  
*/
