/*HEADER*/
.header {
  background-image: url("../images/banner-bg.jpg");
  margin-bottom: 60px;
  background-position: center center;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 15px 105px;
}

.header__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 105px;
}

.header__logo-img {
  width: 67%;
}

.header__menu {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; 
    padding-top: 12px;
}

.menu-list {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff; 
}

.menu-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-link {
  font-family: inherit;
  color: inherit;
  position: relative;
  z-index: 1;
}

.menu-link:hover {
  text-decoration: underline;
}

.header__burger {
  display: none;
}

.header__title {
  font-size: 45px;
  padding-right: 219px;
  padding-left: 219px;
  line-height: 1.6;
  letter-spacing: 0px;
}

/* TRANDS */
.trands__title {
  font-size: 20px;
  margin-bottom: 26px;
}

.trands__content {
  gap: 3px;
}

.trands__article {
  width: calc(25% - 3px);
  min-height: 320px;
  margin-bottom: 16px;
}

.trands__article:nth-last-child(even) {
  margin-right: 0px;
}

.trands__article-wrap {
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 30px;
}

.trands__tag-title {
  font-size: 20px;
}

/* MAIN */
.page-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  gap: 0;
  margin-bottom: -5px;
}

.main {
  box-sizing: border-box;
  width: auto;
}

.article {
  display: flex;
  flex-direction: row;
  margin-bottom: 55px;
}

.article-content {
  width: 363px;
}

.content-text-p {
  margin-bottom: 14px;
}

.article-img-link {
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 293px;
  margin-right: 30px;
}

.article-teg {
  margin-bottom: 7px;
}

.article-title {
  font-size: 20px;
  margin-bottom: 24px;
}

.news-text-meta {
  margin-bottom: 48px;
}

/* ASSIDE */
.asside-wrap {
  width: 272px;
}

.aside-title {
  margin-bottom: 32px;
}

.search-form {
  margin-bottom: 61px;
}

.send-button {
  margin-bottom: 58px;
}

.tags-list {
  margin-bottom: 46px;
}

/*OUR PRODUCTS*/
.products-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.product-title {
  font-size: 20px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1px;
  margin-bottom: 42px;
}

.product-footer {
  align-items: end;
}

/*FOOTER*/
.footer-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-container {
  margin-bottom: 68px;
}